/*重置的属性*/
html{
    color: #000;background-color: #fff;
}
body,dl,dt,dd,ol,ul,li,div,h1,h2,h3,h4,h5,h6,input,form,p,th,td{
    margin: 0;
    padding: 0;
}
a{
    color: #000;
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    font-size: 100%;
    font-weight: normal;
}
ol,ul,li{
    list-style: none;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
